.containerbg{
    background-color: #1E1E1E;
}

.textColor{
    color: black;
}

.consoleContiner{
    background-color: white;
    color: black;
}

.editorContainer{
    background-color: white;
    color: black;
}

